In [1]:
import numpy as np
import pandas as pd

In [2]:
# read data
battery_life = pd.read_excel('../dataset/statistics/2-1.xlsx')
# battry_life.head()
battery_life.describe()

             Hours
count    50.000000
mean   1257.700000
std     277.948553
min     804.000000
25%    1002.500000
50%    1286.000000
75%    1540.250000
max    1689.000000

In [3]:
# data grouping by cut method of pandas
bins = range(800, 1701, 100)    
battery_life_bins = pd.cut(battery_life['Hours'], bins, right=False)
battery_life_bins = battery_life_bins.value_counts().to_frame(name='value_counts').sort_index()
battery_life_bins

              value_counts
[800, 900)               6
[900, 1000)              7
[1000, 1100)             5
[1100, 1200)             4
[1200, 1300)             4
[1300, 1400)             5
[1400, 1500)             5
[1500, 1600)             8
[1600, 1700)             6

In [ ]:
# calculate the percentage, upwards cumulative and down the cumulative

In [ ]:
# distribution and statistics

In [ ]:
# description of statistics, mean/median/mode...