In [1]:
import numpy as np
import pandas as pd

In [2]:
# read data
battery_life = pd.read_excel('../dataset/statistics/2-1.xlsx')
# battry_life.head()
battery_life.describe()

             Hours
count    50.000000
mean   1257.700000
std     277.948553
min     804.000000
25%    1002.500000
50%    1286.000000
75%    1540.250000
max    1689.000000

In [3]:
# data grouping by cut method of pandas
bins = range(800, 1701, 100)    
battery_life_bins = pd.cut(battery_life['Hours'], bins, right=False)
battery_life_bins = battery_life_bins.value_counts().to_frame(name='value_counts').sort_index()
battery_life_bins

              value_counts
[800, 900)               6
[900, 1000)              7
[1000, 1100)             5
[1100, 1200)             4
[1200, 1300)             4
[1300, 1400)             5
[1400, 1500)             5
[1500, 1600)             8
[1600, 1700)             6

In [8]:
# calculate the percentage, upwards cumulative and down the cumulative
battery_life_bins['percentage'] = battery_life_bins['value_counts'] / battery_life_bins['value_counts'].sum()
battery_life_bins['cumsum_up'] = battery_life_bins['value_counts'].cumsum()
battery_life_bins['cumsum_up_perct'] = battery_life_bins['cumsum_up'] / battery_life_bins['value_counts'].sum()

In [51]:
# another method to calculate the percentage, which uses '.loc'
battery_df = pd.DataFrame(battery_life_bins['value_counts'])
battery_df.loc[:, 'percentage'] = battery_df.loc[:, 'value_counts'] / battery_df.loc[:, 'value_counts'].sum()
battery_df.loc[:, 'cumsum_up'] = battery_df.loc[:, 'value_counts'].cumsum()
battery_df.loc[:, 'cumsum_up_perct'] = battery_df.loc[:, 'value_counts'].cumsum() / battery_df.loc[:, 'value_counts'].sum()
battery_df.loc[:, 'cumsum_down'] = battery_df.loc[::-1, 'value_counts'].cumsum()
battery_df.loc[:, 'cumsum_down_penct'] = battery_df.loc[::-1, 'value_counts'].cumsum() / battery_df.loc[:, 'value_counts'].sum()
battery_df

,value_counts,percentage,cumsum_up,cumsum_up_perct,cumsum_down,cumsum_down_penct
"[800, 900)",6,0.12,6,0.12,50,1.00
"[900, 1000)",7,0.14,13,0.26,44,0.88
"[1000, 1100)",5,0.10,18,0.36,37,0.74
"[1100, 1200)",4,0.08,22,0.44,32,0.64
"[1200, 1300)",4,0.08,26,0.52,28,0.56
"[1300, 1400)",5,0.10,31,0.62,24,0.48
"[1400, 1500)",5,0.10,36,0.72,19,0.38
"[1500, 1600)",8,0.16,44,0.88,14,0.28
"[1600, 1700)",6,0.12,50,1.00,6,0.12

In [55]:
# distribution and statistics
eval_df = pd.read_excel('../dataset/statistics/2-2.xlsx')
eval_df['Eval'].value_counts()

# matplotlib 
import matplotlib.pyplot as plt
plt.rcParams['font_sans-serif'] = ['SimHei']    # replace sans-serif font whit SimHei
plt.rcParams['axes.unicode_minus'] = False    # solve the problem of negative axis number
plt.rcParams['savefig.dpi'] = 100    # the quality of image

A    7
O    6
V    5
G    2
Name: Eval, dtype: int64

In [ ]:
# description of statistics, mean/median/mode...