In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
df_baby = pd.read_csv('../00_dataset/tm_baby_trade/(sample)sam_tianchi_mum_baby.csv')
df_trade = pd.read_csv('../00_dataset/tm_baby_trade/(sample)sam_tianchi_mum_baby_trade_history.csv')
df = df_trade.merge(df_baby, how='outer', on='user_id')
df['day'] = df['day'].astype('str')
df['day'] = pd.to_datetime(df['day'], errors='ignore')
# df.head()
# df.info()
# df.describe()
df_copy = df.copy()
# 查看df['buy_mount']四分位和标准差
# df['buy_mount'].describe()
df.drop(index=df[df['buy_mount']>30].index, inplace=True)
df['buy_mount'].describe()

count    29835.000000
mean         1.406536
std          1.910883
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         30.000000
Name: buy_mount, dtype: float64

In [44]:
# 观察销量的同比增长速度
df = df.groupby(pd.Grouper(key='day', freq='Y')).sum()
df['yoy_growth_rate'] = df['buy_mount'].pct_change()
print(df[['buy_mount', 'yoy_growth_rate']])

            buy_mount  yoy_growth_rate
day
2012-12-31       5104              NaN
2013-12-31      13826         1.708856
2014-12-31      20814         0.505425
2015-12-31       2220        -0.893341

In [62]:
# 引入时间标签
df['year_label'] = df['day'].dt.year
df.head()

,user_id,auction_id,cat_id,cat1,property,buy_mount,day,birthday,gender,year_label
0,786295544,41098319944,50014866,50022520,21458:86755362;13023209:3593274;10984217:21985...,2,2014-09-19,NaN,NaN,2014
1,532110457,17916191097,50011993,28,21458:11399317;1628862:3251296;21475:137325;16...,1,2013-10-11,NaN,NaN,2013
2,249013725,21896936223,50012461,50014815,21458:30992;1628665:92012;1628665:3233938;1628...,1,2013-10-11,NaN,NaN,2013
3,917056007,12515996043,50018831,50014815,21458:15841995;21956:3494076;27000458:59723383...,2,2014-10-23,NaN,NaN,2014
4,444069173,20487688075,50013636,50008168,21458:30992;13658074:3323064;1628665:3233941;1...,1,2014-11-03,NaN,NaN,2014

In [63]:
df_copy = df.copy()
df_copy = df_copy.groupby(pd.Grouper(key='year_label')).sum().sort_values(by='year_label')
df_copy['yoy_growth_rate'] = df_copy['buy_mount'].pct_change()
df_copy[['buy_mount', 'yoy_growth_rate']]

            buy_mount  yoy_growth_rate
year_label
2012             5104              NaN
2013            13826         1.708856
2014            20814         0.505425
2015             2220        -0.893341

In [73]:
# 观察各年度每月的销量走势
df = df.groupby(pd.Grouper(key='day', freq='m')).sum()
df['month'] = df.index.month
df['year'] = df.index.year
df_sales = df[['year', 'month', 'buy_mount']]
df_sales.head()

            year  month  buy_mount
day
2012-07-31  2012      7        593
2012-08-31  2012      8        667
2012-09-30  2012      9        898
2012-10-31  2012     10        922
2012-11-30  2012     11       1033

In [76]:
'''
# 提取每月销量
_x_2012 = df[df['year'] == 2012]['month']
_x_2013 = df[df['year'] == 2013]['month']
_x_2014 = df[df['year'] == 2014]['month']
_x_2015 = df[df['year'] == 2015]['month']
_y_2012 = df[df['year'] == 2012]['buy_mount']
_y_2013 = df[df['year'] == 2013]['buy_mount']
_y_2014 = df[df['year'] == 2014]['buy_mount']
_y_2015 = df[df['year'] == 2015]['buy_mount']
print(_y_2014.sum() / _y_2013.sum() -1)
'''

0.5054245624186315