In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('./00_dataset/cohort analysis data.xlsx')
df.head()

   平台   店铺名称   客户昵称                付款时间  订单状态  支付金额  购买数量       省份
0  线上  小z杂货铺  入倩出入深 2019-09-01 00:10:04  交易成功  15.2     1      江苏省
1  线上  小z杂货铺  愛hya爱 2019-09-01 00:14:52  交易成功   8.4     1      广东省
2  线上  小z杂货铺  象95象大 2019-09-01 02:17:15  交易成功   8.4     1      辽宁省
3  线上  小z杂货铺  卡哇伊氛十 2019-09-01 03:37:28  交易成功  22.0     1  广西壮族自治区
4  线上  小z杂货铺  一只羊哈阿 2019-09-01 08:53:50  交易成功  85.0     1      辽宁省

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42713 entries, 0 to 42712
Data columns (total 8 columns):
平台      42713 non-null object
店铺名称    42713 non-null object
客户昵称    42713 non-null object
付款时间    40339 non-null datetime64[ns]
订单状态    42713 non-null object
支付金额    42713 non-null float64
购买数量    42713 non-null int64
省份      42713 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 2.6+ MB

In [10]:
df.loc[df['付款时间'].isnull(), :].head()

       平台   店铺名称   客户昵称 付款时间  订单状态   支付金额  购买数量        省份
40339  线上  小z杂货铺  爱购物nx  NaT  交易失败   97.8     1       浙江省
40340  线上  小z杂货铺  975ay  NaT  交易失败  117.3     2       浙江省
40341  线上  小z杂货铺  101呆阿  NaT  交易失败  144.5     2  新疆维吾尔自治区
40342  线上  小z杂货铺  489bt  NaT  交易失败   92.7     1       江苏省
40343  线上  小z杂货铺  姚琳儿姚姚  NaT  交易失败    8.4     1       广东省

In [15]:
print(df.loc[df['付款时间'].isnull(), :]['订单状态'].value_counts())
print(df.loc[df['付款时间'].isnull() == False, :]['订单状态'].value_counts())

交易失败    2374
Name: 订单状态, dtype: int64
交易成功    40339
Name: 订单状态, dtype: int64

In [18]:
# 清洗数据，去除缺失值，采用isnull()方法
order_data = df.loc[df['付款时间'].isnull() == False, :]

# 清洗数据，去除缺失值或采用dropna()方法
# order_data = df.dropna()
order_data

       平台   店铺名称   客户昵称                付款时间  订单状态   支付金额  购买数量       省份
0      线上  小z杂货铺  入倩出入深 2019-09-01 00:10:04  交易成功   15.2     1      江苏省
1      线上  小z杂货铺  愛hya爱 2019-09-01 00:14:52  交易成功    8.4     1      广东省
2      线上  小z杂货铺  象95象大 2019-09-01 02:17:15  交易成功    8.4     1      辽宁省
3      线上  小z杂货铺  卡哇伊氛十 2019-09-01 03:37:28  交易成功   22.0     1  广西壮族自治区
4      线上  小z杂货铺  一只羊哈阿 2019-09-01 08:53:50  交易成功   85.0     1      辽宁省
...    ..    ...    ...                 ...   ...    ...   ...      ...
40334  线上  小z杂货铺  ght子竹 2020-02-29 19:13:08  交易成功   17.9     1      广东省
40335  线上  小z杂货铺  345ik 2020-02-29 19:14:33  交易成功  101.2     1      吉林省
40336  线上  小z杂货铺  099bt 2020-02-29 19:15:29  交易成功  219.3     2      广东省
40337  线上  小z杂货铺  151lw 2020-02-29 19:16:18  交易成功  101.2     1      广东省
40338  线上  小z杂货铺  565yc 2020-02-29 19:20:24  交易成功   16.9     1      江苏省

[40339 rows x 8 columns]