In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_excel('/04_case/00_dataset/TGI index data.xlsx')
df.head()

           品牌名称    买家昵称                付款日期  订单状态   实付金额  邮费   省份   城市  购买数量
0  viva la vida    做快淘饭 2019-04-18 00:03:00  交易成功  22.32   0   北京  北京市     1
1  viva la vida   作自有世祟 2019-02-17 00:03:51  交易成功  87.00   0   上海  上海市     1
2  viva la vida    作雪白室 2019-04-18 00:01:43  交易成功  97.66   0  福建省  福州市     2
3  viva la vida  作美女购物主 2019-01-11 23:35:01  交易成功  37.23   0  河南省  安阳市     3
4  viva la vida  作美女购物主 2019-02-18 14:16:03  交易成功  29.50   0  河南省  安阳市     2