In [1]:
import re
import json
import pandas as pd

In [40]:
file = '../../dataset/game_users_info.log'
# data_out = pd.DataFrame(columns=['role_id', 'vip'])
data_out = []
with open(file, 'r') as f:
    for line in f:
        if '[' in line:
            data = re.match(r'.*],(.+)', line)
            data_dic = json.loads(data.group(1))
            #print('数据修改前： \n')
            #print("role_id:", data_dic['role_id'], "vip", data_dic['vip'], '\n')
            dict_tmp = {}
            dict_tmp['role_id'] = data_dic['role_id']
            dict_tmp['vip'] = data_dic['vip']
            data_out.append(dict_tmp)
            #if data_dic['vip'] == 4:
            #    data_dic['vip'] = 0
            # dict_tmp['vip'] = 

data_out

[{'role_id': '698382', 'vip': 6},
 {'role_id': '698582', 'vip': 2},
 {'role_id': '678382', 'vip': 4}]

In [46]:
file = '../../dataset/game_users_info.log'
data_out = []
with open(file, 'r') as f:
    for line in f:
        if '[' in line:
            data = re.match(r'.*],(.+)', line)
            data_dic = json.loads(data.group(1))
            
            dict_tmp = {}
            dict_tmp['role_id'] = data_dic['role_id']
            dict_tmp['vip'] = data_dic['vip']
            
        data_out.append(dict_tmp)

data_df = pd.DataFrame(data_out)
data_df['vip'] = data_df['vip'].fillna(0)
data_df

#if data_dic['vip'] == "" or None:
#                data_dic['vip'] = 0

  role_id  vip
0  698382    6
1  698582    2
2  678382    4

In [51]:
def get_data(file):
    data_out = []
    with open(file, 'r') as f:
        for line in f:
            if '[' in line:
                data = re.match(r'.*],(.+)', line)
                data_dic = json.loads(data.group(1))
                # 用来储存role_id和vip的键值对
                dict_tmp = {}
                dict_tmp['role_id'] = data_dic['role_id']
                dict_tmp['vip'] = data_dic['vip']

            data_out.append(dict_tmp)

    data_df = pd.DataFrame(data_out)
    data_df['vip'] = data_df['vip'].fillna(0)
    return data_df

In [53]:
file = '../../dataset/game_users_info.log'
result = get_data(file)
result.to_csv('result.csv')

  role_id  vip
0  698382    6
1  698582    2
2  678382    4

**参考资料**
1. [使用正则对日志进行提取](https://blog.csdn.net/liyyzz33/article/details/96324916)
2. [使用正则对日志进行提取](https://blog.csdn.net/liyyzz33/article/details/95970288)